* text=auto eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.iss text eol=crlf
*.npy binary
*.npz binary
*.mudmap binary
*.tif binary
*.png binary
*.jpg binary
*.ico binary
*.docx binary
*.zip binary
